
  <div *ngIf="sessione==null">
    <input type="text" [(ngModel)]="nickName"> &nbsp;
    <button type="button" (click)="registrazione()">Registrazione </button>
  </div>

  <div *ngIf="sessione!=null">
    <input type="text" [(ngModel)]="messaggio"> &nbsp;
    <button type="button" (click)="inviaTutti()"> Invia a tutti </button>
    <p>Contatti</p>
    <button type="button" (click)="aggiorna()">Aggiorna </button> <br>

    <table>
      <tr *ngFor="let c of contatti">
        <td> {{c.nickname}}</td> &nbsp;
        <button type="button"(click)="inviaUno()">Invia singolo</button>
      </tr>
    </table>

    <p>Messaggi Ricevuti </p>
    <table>
      <tr *ngFor="let m of messaggi">
        <td> {{m.aliasMittente}}</td>
        <td> {{m.testo}}</td>
    </table>
  </div>

