
input {
  border-width: 4px;

  }
  button {
    background-color: #008CBA;
    color: white;
  }
  button :hover{
    background-color: #008CBA;
    color: white;
  }

div {
  text-align: center;
}
