<input type="text" [(ngModel)]="nickName">
<button type="button" (click)="registrazione()">Registrazione</button>
<br>
<input type="text" [(ngModel)]="messaggio">
<button type="button" (click)="inviaATutti()">Invia a Tutti</button>
<br>
Contatti
<table>
  <tr *ngFor="let c of contatti">
    <td>{{c.nickname}}</td>
    <td>
      <button (click)="inviaAUno(c)">Invia a {{c.nickname}}</button>
    </td>
  </tr>
</table>
Messaggi ricevuti
<button type="button" (click)="aggiorna()">Aggiorna</button>
<table>
  <tr *ngFor="let m of messaggi">
    <td>{{m.aliasMittente}}</td>
    <td>{{m.testo}}</td>
  </tr>
</table>