<!--The content below is only a placeholder and can be replaced.-->
<body>

  <br>
  <h1 text align="center">Hi there! I'm using Kezapp!</h1>
  <hr>

  <div text align="center">
    <h2>Inserisci un Nickname</h2>
    <br>
    <input type="text" [(ngModel)]="nickname"><br><br>
    <button type="button" (click)="registrazione()"><b>Registrazione</b></button>
  </div>

  <br>
  <hr>
  <br>

  <div text align="center">
    <input type="text" [(ngModel)]="messaggio"><br><br>
    <button type="button" (click)="inviaATutti()"><b>Invia un messaggio a tutti</b></button>
    <h2><b>I tuoi Contatti</b></h2>

    <table>
    
    <tr>
      <th>Nickname</th>
    </tr>
    
    <tr *ngFor="let c of contatti">
      <td> {{c.nickname}} </td>
      <td> <button type="button" (click)="inviaAUno(c)"><b> Invia </b></button> </td>
    </tr>
    
    </table>

    <hr>
    
    <h2><b>Messaggi Ricevuti</b></h2> 
    <button type="button" (click)="aggiorna()"> <b>Aggiorna</b> </button>
    
    <br>
    <br>

    <table>

      <tr>
        <th>Nickname e </th>
        <th>Testo del Messaggio </th>
      </tr>

      <tr *ngFor="let m of messaggi">
      <td>{{m.aliasMittente}}:</td>
        <td>{{m.testo}}</td>
      </tr>
    
    </table>
  
    </div>
  <br>
</body>
