body{
    background-color: rgb(47, 194, 113);
}

h1{
    text-shadow: 2px 1px black;
    color: rgb(255, 255, 255);
}
h2{
    text-shadow: 1px 1px black;
    color: rgb(255, 255, 255);
}

div.registrazione{
    display: flex;
    text-align: center;
}

table{
    width: 40%;
    border-collapse: collapse;
    border: 1px white;
}