body{
    font-family: monospace;
    color: rgb(34, 180, 34);
    text-align: center;
    background-color: black;
}
div.registrazione{
    align-items: center;
}

table{
    border: 2px solid rgb(34, 180, 34);
}

button{
    text-decoration: underline;
    border-color: rgb(34, 180, 34);
    border-style: double;
    color: rgb(34, 180, 34);
    background-color: black;
}