<!-- <div *ngIf="attiva == true"> -->
<div>
  <input type="text" [(ngModel)]="nickname">
    &nbsp;
  <button type="button" (click)="registrazione()">Registrazione</button>
</div>
<br><br>
<!-- <div *ngIf="attiva == false"> -->
<div>
  <input type="text" [(ngModel)]="messaggio">
    &nbsp;
  <button type="button" (click)="inviaATutti()">Invia a tutti</button>
</div>
<br><br>
Contatti
<table>
  <tr *ngFor="let c of contatti">
    <td>{{c.nickname}}</td>
    <button type="button" (click)="inviaAUno(c)">Invia a {{c.nickname}}</button>
  </tr>
</table>
<div>
  <br><br>
  <span>Messaggi Ricevuti</span>
  &nbsp;
  <button type="button" (click)="aggiorna()">Aggiorna</button>
  <br><br>

  <table>
    <tr *ngFor="let m of messaggi">
      <td>{{m.aliasMittente}}</td>
      <td>{{m.testo}}</td>
    </tr>
  </table>
  <br><br>

</div>
