<div *ngIf="attiva == true">
  <input type="text" [(ngModel)]="nickName">
    &nbsp;
  <button type="button" (click)="registrazione()">Registrazione</button>
</div>
<br><br>
<div *ngIf="attiva == false">
  <input type="text" [(ngModel)]="messaggio">
    &nbsp;
  <button type="button" (click)="inviaATutti">Invia a tutti</button>
</div>
<br><br>
Contatti
<br>
<div>
  <table>
    <tr>
      <th>Column0</th>
      <th>Column1</th>
      <th>Column2</th>
      <th>Column3</th>
    </tr>
    <tr *ngFor="let r of righe">
      <td>Row1</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
    </tr>
    <tr>
      <td>Row1</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
    </tr>
    <tr>
      <td>Row1</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
    </tr>
  </table>
  <br><br>

  <span>Messaggi Ricevuti</span>
  &nbsp;
  <button type="button" [(ngModel)]="aggiorna">Invia a tutti</button>
  <br><br>
  <table>
    <tr>
      <th>Column0</th>
      <th>Column1</th>
      <th>Column2</th>
      <th>Column3</th>
    </tr>
    <tr *ngFor="let r of righe">
      <td>Row1</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
    </tr>
    <tr>
      <td>Row1</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
    </tr>
    <tr>
      <td>Row1</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
    </tr>
  </table>
</div>
