
<div>
  <input type="text" [(ngModel)]="nickname">
  <button type="button" (click)="registrazione()">Registrazione</button>
</div>
  <br>
  <div>
  <input type="text" [(ngModel)]="messaggio">
  <button type="button" (click)="inviaATutti()">Invia A Tutti</button>
  <br>
  Contatti
  <table>
    <tr *ngFor="let c of contatti">
      <td>{{c.nickname}}</td>
    </tr>
  </table>
      Messaggi ricevuti
      <table>
      <tr *ngFor = "let m of messaggi">
        <td>{{m.aliasMittente}}</td>
        <td>{{m.testo}}</td>
      </tr>



  </table>
  <br>
  Messaggi Ricevuti<input type="button" value="Aggiorna">
  <br>
  <table>

      <tr>
        <td>Column 0</td>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
      </tr>

  </table>
</div>



