<h1>KezApp</h1>
<input type="text" [(ngModel)]='nickName'>&nbsp;
<button type="button" (click)="registrazione()">Registrazione</button>
<hr>

<div *ngIf="mostra">
  <input type="text" [(ngModel)]='messaggio'>&nbsp;
  <button type="button" (click)="inviaATutti()">Invia a tutti!</button>
  <br>

  <br>
  <h2>Contatti</h2>
  <table>
    <tr *ngFor= "let c of contatti">
      <td>{{c.nickname}}</td>
      <td>
        <button (click)="inviaAUno(c)">Invia a {{c.nickname}}</button>
      </td>
   </tr>
  </table>

  <h2>Messaggi ricevuti</h2>
  <button type="button" (click)="aggiorna()">Aggiorna</button>

  <table>
    <tr *ngFor= "let m of messaggi">
    <td>{{m.aliasMittente}}</td>
    <td>{{m.testo}}</td>
  </tr>
</table>

