<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="session=null">
<input type="text" [(ngModel)]="nickName"> <button type="button" (click)="registrazione">Registrazione</button>
<br>
<input type="text" [(ngModel)]="messaggio"> <button type="button" (click)="invia">Invia a tutti</button>
</div>

<br>

<div *ngIf="session!=null">
Contatti
<br>

<table>
    <tr *ngFor="let r of righe">
      <td>{{r}}</td>
    </tr>
</table>

<h3>Messaggi ricevuti</h3> <button type="button" (click)="aggiorna">Aggiorna</button>
<br>

<table>
    <tr *ngFor="let r of righe">
      <td>{{r}}</td>
    </tr>
</table>
</div>




