<form>
  <input type="text" [(ngModel)]="nickname" name="nickname">&nbsp;
  <button type="button" (click)="registrazione()">registarzione</button>
  <br><br>
  <div *ngIf="sAttiva">
    <input type="text" [(ngModel)]="messaggio" name= "messaggio">&nbsp;
    <button type="button" (click)="inviaATutti()">invia a tutti</button>
  </div>

</form>
<br>
<div *ngIf="sAttiva">
  Contatti
  <table>
    <tr *ngFor="let c of contatti">
      <td>{{c.nickname}}</td>
      <td><button (click)="invia(c)">invia a {{c.nickname}}</button></td>
    </tr>
  </table>
  messaggi
    <button type="button" (click)="aggiorna()">aggiorna</button>
  <table>
    <tr *ngFor="let m of messaggi">
      <td>{{m.aliasMittente}}</td>
      <td>{{m.testo}}</td>
    </tr>
  </table>
</div>
