<div class="center" *ngIf="sessione==null;">
  <input type="text" [(ngModel)]="nickName">
  <button (click)="registrazione()">Registrazione</button>
</div>
<div class="center" *ngIf="sessione!=null;"><input type=" text" [(ngModel)]="messaggio">
  <button (click)="inviaATutti()">Invia a tutti</button>
  <br>
  Contatti
  <table>
    <tr *ngFor="let c of contatti, index as i">
      <td>{{ c.nickname }}</td>
      <td><button (click)="invia(i)">Invia</button></td>
    </tr>
  </table>
  <br>
  Messaggi ricevuti
  <button (click)="aggiorna()">Aggiorna</button>
  <table>
    <tr *ngFor="let m of messaggi">
      <td>{{ m.aliasMittente }}</td>
      <td>{{ m.testo }}</td>
    </tr>
  </table>
</div>
