<form>
  <input type="text" [(ngModel)]="nickname" />&nbsp;
  <button type="button" (click)="registrazione(nickname)">Registrazione</button>
</form>
<br />
<br />
<div *ngIf="sessioneAttiva()">
  <form>
    <input type="text" [(ngModel)]="messaggio" />&nbsp;
    <button type="button" (click)="inviaATutti()">Invia a tutti</button>
  </form>
</div>

<br />
<br />

<div *ngIf="sessioneAttiva()">
  Contatti
  <br />
  <br />
  <table>
    <tr>
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
    </tr>
    <tr>
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td><button type="button" (click)="invia()">Invia</button></td>
    </tr>
    <tr>
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
    </tr>
    <tr>
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
    </tr>
  </table>

  <br />

  Messaggi ricevuti &nbsp;
  <button type="button" (click)="aggiorna()">Aggiorna</button><br />
  <br />
  <table>
    <tr>
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
    </tr>
    <tr>
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
    </tr>
    <tr>
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
    </tr>
    <tr>
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
    </tr>
  </table>
</div>
