<div *ngIf="sessione==null" class="registrazione">
  <input type="text" [(ngModel)]="nickName"> &nbsp;
  <button (click)="registrazione()">Registrazione</button>
</div>
<div *ngIf="sessione!=null" class="chat">
  <div class="center">
    <input type="text" [(ngModel)]="messaggio"> &nbsp;
    <button (click)="inviaTutti()">Invia a tutti</button>
  </div>
  <br>
  <div>
    <b>Contatti</b>
    <br>
    <br>
    <table>
      <!--
      <tr>
        <th>Column 0</th>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
      </tr>
      -->
      <tr *ngFor="let c of contatti">
        <td *ngIf="c.nickname != this.nickName">{{c.nickname}}</td>
        <td *ngIf="c.nickname != this.nickName">
          <button class="table-button" (click)="inviaUno(c)">Invia</button>
        </td>
      </tr>
    </table>
    <br>
    <b>Messaggi Ricevuti</b> &nbsp; <button (click)="aggiorna()">Aggiorna</button>
    <br>
    <br>
    <table>
      <!--
      <tr>
        <th>Column 0</th>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
      </tr>
      -->
      <tr *ngFor="let m of messaggi">
        <td *ngIf="m.aliasMittente != this.nickName">{{m.aliasMittente}}</td>
        <td *ngIf="m.aliasMittente != this.nickName">{{m.testo}}</td>
      </tr>
    </table>
  </div>
</div>
