<div *ngIf="sessione==null" class="registrazione">
  <input type="text" [(ngModel)]="nickName"> &nbsp;
  <button (click)="registrazione()">Registrazione</button>
</div>
<div *ngIf="sessione!=null" class="chat">
  <div class="center">
    <input type="text" [(ngModel)]="messaggio" class="messaggio"> &nbsp;
    <button (click)="inviaTutti()">Invia a tutti</button>
  </div>
  <br>
  <div>
    <b>Contatti</b>
    <br>
    <br>
    <table>
      <tr>
        <th>Column 0</th>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
      </tr>
      <tr *ngFor="let r of righe">
        <td>{{r[0]}}</td>
        <td>{{r[1]}}</td>
        <td>{{r[2]}}</td>
        <td><button class="table-button">Invia</button></td>
      </tr>
    </table>
    <br>
    <b>Messaggi ricevuti</b> &nbsp; <button>Aggiorna</button>
    <br>
    <br>
    <table>
      <tr>
        <th>Column 0</th>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
      </tr>
      <tr *ngFor="let r of righe">
        <td>{{r[0]}}</td>
        <td>{{r[1]}}</td>
        <td>{{r[2]}}</td>
        <td>{{r[3]}}</td>
      </tr>
    </table>
  </div>
</div>
