<div *ngIf="sessione==null">
  <input type="text" [(ngModel)]="nickName"> &nbsp;
  <button (click)="registrazione()">Registrazione</button>
</div>
<div *ngIf="sessione!=null">
  <input type="text" [(ngModel)]="messaggio"> &nbsp;
  <button (click)="inviaATutti()">Invia a tutti</button> <br>
  Contatti
  <table>
    <tr *ngFor="let r of righe">
      <th>Column 0</th>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
    </tr>
    <tr>
      <td>Row 1</td>
      <td>Text</td>
      <td>Text </td>
      <td><button>Invia</button></td>
    </tr>
    <tr>
      <td>Row 2</td>
      <td>Text</td>
      <td>Text </td>
      <td>Text</td>
    </tr>
    <tr>
      <td>Row 3</td>
      <td>Text</td>
      <td>Text </td>
      <td>Text</td>
    </tr>
  </table>
  Messaggi ricevuti &nbsp; <button>Aggiorna</button> <br>
  <table>
    <tr>
      <th>Column 0</th>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
    </tr>
    <tr>
      <td>Row 1</td>
      <td>Text</td>
      <td>Text </td>
      <td>Text</td>
    </tr>
    <tr>
      <td>Row 2</td>
      <td>Text</td>
      <td>Text </td>
      <td>Text</td>
    </tr>
    <tr>
      <td>Row 3</td>
      <td>Text</td>
      <td>Text </td>
      <td>Text</td>
    </tr>
  </table>
</div>
